<div class="border p-10">
<p>composant-parent n° {{ numeroParent }}</p>
  <span *ngIf="this.nbClickEnfant1 != 0">
    Nombre de click dans mon composant enfant 1 : {{ nbClickEnfant1 }}
  </span>
  <br>
  <span *ngIf="this.nbClickEnfant2 != 0">
   Nombre de click dans mon composant enfant 2 : {{ nbClickEnfant2 }}
  </span>
  <br>
  <span *ngIf="this.nbClickEnfant3 != 0">
  Nombre de click dans mon composant enfant 3 : {{ nbClickEnfant3 }}
  </span>
  <br>

  <app-composant-enfant (clickEmitter)="addOneClick($event)" [numComposant]="1" [numeroParent]="numeroParent"></app-composant-enfant>
  <app-composant-enfant (clickEmitter)="addOneClick($event)" [numComposant]="2" [numeroParent]="numeroParent"></app-composant-enfant>
  <app-composant-enfant (clickEmitter)="addOneClick($event)" [numComposant]="3" [numeroParent]="numeroParent"></app-composant-enfant>
</div>
