<div class="border m-10 p-10">
<p>composant-enfant works!</p>
  <p>Je suis le composant n° {{ numComposant }}</p>
  <p>Mon papa est le n° {{ numeroParent }}</p>
  <button (click)="someOneClick()">Cliquez sur moi !!!</button>
</div>
