<div class="border p-10">
  <p>composant- grand parent</p>

  <app-composant-parent class="m-10" [numeroParent]="1"></app-composant-parent>

  <app-composant-parent class="m-10" [numeroParent]="2"></app-composant-parent>
</div>
